<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="lightConfiguration" type="BuildStateServer.Configuration.LightConfigurationSection,BuildStateServer" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="DelcomDeviceNumber" value="0"/>
  </appSettings>
  
  <system.serviceModel>
    <services>
      <service name="BuildStateServer.BuildStatusChangeService">
        
        <endpoint address="net.tcp://localhost:9090" contract="BuildCommon.IBuildStatusChange" binding="netTcpBinding" bindingConfiguration="binding1">
        </endpoint>
        
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="binding1">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="BuildStateServer.Server" switchValue="Verbose">
        <listeners>
          <add name="ConsoleTraceListener" type="System.Diagnostics.ConsoleTraceListener"></add>
        </listeners>
      </source>
    </sources>

  </system.diagnostics>
  <lightConfiguration>
    <rules>
      <add name="status:Succeeded" green="true"/>
      <add name="status:Failed" red="true"/>
      <add name="status:Started" blue="true"/>
      <add name="status:NotStarted" blue="true" flashBlue="true"/>
      <add name="status:InProgress" blue="true"/>
      <add name="status:PartiallySucceeded" green="true" flashGreen="true"/>
      <add name="quality:e2e passed" green="true"/>
    </rules>
  </lightConfiguration>
</configuration>
